:root {
    --color-border: rgb(41, 41, 41);
    --color-background: rgb(238, 234, 229);
    --color-victory: rgb(218, 241, 210);
    --color-timer: rgb(217, 217, 255);
}

html {
    font-size: 10px;
    font-family: "Ubuntu", sans-serif;
    background-color: rgb(255, 249, 240);
    text-align: center;
}

h1 {
    font-size: 84px;
    margin: 0;
    padding: 20px 0px 0px 0px;
}

p, li {
    font-size: 24px;
    line-height: 1.5;
}

form {
    width: 420px;
    margin: 10px auto;
    padding: 10px 10px 0px 10px;
    border: 2px solid var(--color-border);
    background-color: var(--color-background);
}

.light {
    width: 80px;
}

.wrapper {
    --columns: 3; /* default */
    --rows: 2; /* default */
    display: inline-grid;
    grid-template-columns: repeat(var(--columns), 80px);
    grid-template-rows: repeat(var(--rows), 80px);

    column-gap: 10px;
    row-gap: 10px;
    padding: 10px 10px 10px 10px;

    justify-content: center;
    justify-items: center;
    margin: 20px 0px 0px 0px;

    border: 2px dashed var(--color-border);
    background-color: var(--color-background);
}

.warning-text {
    font-size: 16px;
    color: var(--color-border);
    width: 300px;
    font-style: italic;
    margin: 25px auto; 
}

.victory {
    border: 2px solid var(--color-border);
    width: 640px;
    padding: 10px 10px 10px 10px;
    margin: 10px auto;
    background-color: var(--color-victory);
}

.timer {
    font-size: 36px;
    border: 2px solid var(--color-border);
    width: 280px;
    background-color: var(--color-timer);
    padding: 10px 10px 10px 10px;
    margin: 15px auto;
}