:root {
    --color-border: rgb(41, 41, 41);
    --color-background: rgb(238, 234, 229);
    --color-victory: rgb(218, 241, 210);
    --color-timer: rgb(217, 217, 255);
    font-size: min(1.5em, 3vw);
}

html {
    font-family: "Ubuntu", sans-serif;
    background-color: rgb(255, 249, 240);
    text-align: center;
}

h1 {
    font-size: 4em;
    margin: 0.25em auto;
}

p {
    line-height: 1.5;
}

form {
    font-size: 0.75em;
    width: fit-content;

    margin: 1em auto;
    padding: 0.5em 2em;

    border: 2px solid var(--color-border);
    background-color: var(--color-background);
}

.form-input {
    display: inline-block;
    margin: 0;
}

.input-box {
    width: 6em;
    height: 1.5em;
    margin-left: 1em;
}

.form-button {
    font-size: 0.8em;
    padding: 0.5em;
    margin: 0 auto;
    width: fit-content;
}

.light {
    width: 100%;
}

.wrapper {
    display: inline-grid;
    --num-rows: 3;
    --num-cols: 5;
    --grid-dimension: min(4em, calc(75vw / var(--num-cols)));
    --grid-gaps: calc(var(--grid-dimension) / 10);
    grid-template-columns: repeat(var(--num-cols), var(--grid-dimension));
    grid-template-rows: repeat(var(--num-rows), var(--grid-dimension));

    column-gap: var(--grid-gaps);
    row-gap: var(--grid-gaps);
    padding: var(--grid-gaps);

    justify-content: center;
    justify-items: center;
    margin: 1em;

    border: 2px dashed var(--color-border);
    background-color: var(--color-background);
}

.warning-text {
    font-size: 16px;
    color: var(--color-border);
    width: 300px;
    font-style: italic;
    margin: 25px auto; 
}

/* .victory {
    width: fit-content;
    max-width: 80%;
    border: 2px solid var(--color-border);
    padding: 0.5em;
    margin: 0 auto 0.5em;
    background-color: var(--color-victory);
} */

.timer {
    width: fit-content;
    border: 2px solid var(--color-border);
    background-color: var(--color-timer);
    padding: 0.5em; 
    margin: 0 auto;
}

.finished-timer {
    background-color: var(--color-victory);
}