:root {
    --color-text: rgb(41, 41, 41);
    --color-warning: rgb(97, 97, 97);
    --color-border: rgb(41, 41, 41);
    --color-background: rgb(238, 234, 229);
    --color-victory: rgb(218, 241, 210);
    --color-timer: rgb(217, 217, 255);
    font-size: min(1.5em, 3vw);
}

html {
    font-family: "Ubuntu", sans-serif;
    background-color: rgb(255, 249, 240);
    text-align: center;
    color: var(--color-text);
}

h1 {
    font-size: 4em;
    margin: 0.25em auto;
}

p {
    line-height: 1;
    margin: 1em auto;
}

form {
    font-size: 0.75em;
    width: fit-content;
    line-height: 2.25;

    margin: 1em auto;
    padding: 0.5em 1em;

    border: 2px solid var(--color-border);
    background-color: var(--color-background);
}

.form-input {
    display: inline-block;
    margin: 0;
}

.input-box {
    width: 6em;
    height: 0.75em;
    margin-left: 1em;
    padding: 0.25em;
}

.form-button {
    font-size: 0.8em;
    padding: 0.5em 2em;
    margin: 0.5em auto;
    width: fit-content;
}

.light {
    width: 100%;
}

.wrapper {
    display: grid;
    width: fit-content;
    margin: 1em auto;

    --num-rows: 3;
    --num-cols: 5;
    --grid-dimension: min(4em, calc(70vw / var(--num-cols)));
    --grid-gaps: calc(var(--grid-dimension) / 10);
    grid-template-columns: repeat(var(--num-cols), var(--grid-dimension));
    grid-template-rows: repeat(var(--num-rows), var(--grid-dimension));

    column-gap: var(--grid-gaps);
    row-gap: var(--grid-gaps);
    padding: var(--grid-gaps);

    border: 2px dashed var(--color-border);
    background-color: var(--color-background);

    box-sizing: border-box;
}

.warning-text {
    color: var(--color-warning);
    font-style: italic;
    margin: 0.5em auto;
    font-size: 0.75em;
    line-height: 1.25;
}

.timer {
    width: fit-content;
    border: 2px solid var(--color-border);
    background-color: var(--color-timer);
    padding: 0.5em; 
    margin: 1em auto;
}

.finished-timer {
    background-color: var(--color-victory);
}