html {
    font-size: 10px;
    font-family: "Ubuntu", sans-serif;
    background-color: aliceblue;
}

h1 {
    font-size: 48px;
    text-align: center;
    margin: 0;
    padding: 20px 0px 0px 0px;
}

p, li {
    font-size: 16px;
    line-height: 1.5;
}